<div class="container">
<div class="table-responsive">
  <form method="post" action='/inventory/update'>
    <table class="table table-condensed">
      <tbody>
        <tr>
         <th>Name: </th>
          <td><input type="text" name="item_name" required size="40" 
                  value="{{data.name}}"></td>
        </tr>
        <tr>
         <th>Type: </th>
          <td><input type="text" name="item_type" required size="40" 
                  value="{{data.type}}"></td>
        </tr>
        <tr>
         <th>Brand: </th>
          <td><input type="text" name="item_brand" required size="40" 
                  value="{{data.brand}}"></td>
        </tr>
        <tr>
         <th>Model Number: </th>
          <td><input type="text" name="item_modelno" required size="40" 
                  value="{{data.modelNum}}"></td>
        </tr>
        <tr>
         <th>Date Acquired: </th>
          <td><input type="text" name="item_dateacq" required size="40" 
                  value="{{data.acqDate}}"></td>
        </tr>
        <tr>
         <th>Employee Assigned To: </th>
          <td><input type="text" name="item_emp" required size="40" 
                  value="{{data.employee}}"></td>
        </tr>
        <tr>
         <th>Condition: </th>
          <td><input type="text" name="item_cond" required size="40" 
                  value="{{data.condition}}"></td>
        </tr>
        <tr>
         <th>Cost: </th>
          <td><input type="text" name="item_cost" required size="40" 
                  value="{{data.cost}}"></td>
        </tr>
        <tr>
         <th>Location: </th>
          <td><input type="text" name="item_loc" required size="40" 
                  value="{{data.location}}"></td>
        </tr>
        <input type="hidden" name="id" value="{{data.id}}">
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
              <input type="submit" value="Update" class="btn btn-success">
              <input type="button" value="Cancel" class="btn btn-danger"
                  class="cancel" onclick="addCancel()">
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>
</div>
<!-- 
  Sources:
  Bachoti, Praveen. CS602_HW3_Bachoti. METCS602. Boston University, 15 August, 2022.
-->